body,
html {
    margin: 0;
    background-color: darkslategray;
    color: white;
    font-family: "Courier New", Courier, monospace;
}
body {
    display: flex;
    flex-direction: column;
}

h1 {
    text-align: center;
    text-transform: uppercase;
}

h2 {
    margin-bottom: 14px;
}
p {
    margin: 0;
}
a {
    padding: 12px 24px;
    background-color: rgb(99, 236, 191);
    color: black;
    transition: background-color 0.25s;
}
a:hover {
    background-color: rgb(48, 201, 150);
}

.group-container {
    border-bottom: 3px solid rgb(15, 37, 37);
    padding-bottom: 12px;
}
.group-container .child-routes {
    display: flex;
    gap: 8px;
}

#routes {
    padding: 12px;
    flex: 1;
}

@media screen and (max-width: 576px) {
    .group-container .child-routes {
        flex-direction: column;
    }
}

@media screen and (max-width: 1200px) {
    body,
    html {
        overflow: auto;
    }
}
